* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

nav > div {

    align-items: center;

}

.nav-container a {

    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    font-size: small;

}

.nav-container {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.material-icons-header {
    display: flex;
    align-items: center;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
